In [1]:
import re

In [2]:
word = "12345"

In [5]:
def nuf(a, b):
  return int(a) + int(b)
def fun(match):
  a = nuf(match.group(1), match.group(2))
  print(match)
  return str(a)
result = re.sub('(\d)(\d)', fun, word)

<re.Match object; span=(0, 2), match='12'>
<re.Match object; span=(2, 4), match='34'>

In [6]:
result

'375'

In [7]:
text = ['this is nice', 'how nice', 'not nice', 'very bad']

In [15]:
mark = map(lambda num: num + 1, [8, 1, 2, 3, 2, 5])

In [16]:
mark

In [17]:
list(mark)

[9, 2, 3, 4, 3, 6]

In [18]:
print(list(mark))

[]

In [19]:
def meh(one):
  return (True, one) if 'nice' in one else (False, one)

In [21]:
mark = map(meh, text)

In [22]:
print(list(mark))

[(True, 'this is nice'), (True, 'how nice'), (True, 'not nice'), (False, 'very bad')]

In [23]:
list(mark)

[]

In [24]:
word = "I am so happy right now"

In [25]:
result1 = re.sub('(\w)', r'(\1)', word)

In [26]:
result1

'(I) (a)(m) (s)(o) (h)(a)(p)(p)(y) (r)(i)(g)(h)(t) (n)(o)(w)'

In [27]:
print(result1)

(I) (a)(m) (s)(o) (h)(a)(p)(p)(y) (r)(i)(g)(h)(t) (n)(o)(w)

In [29]:
result2 = re.sub('(\w)', '(\\1)', word)
print(result2)

(I) (a)(m) (s)(o) (h)(a)(p)(p)(y) (r)(i)(g)(h)(t) (n)(o)(w)

In [30]:
input = "Once 9123 upon a 4567 there was a 12389"
print(input)

Once 9123 upon a 4567 there was a 12389

In [31]:
result = re.findall('\d\d', input)

In [32]:
result

['91', '23', '45', '67', '12', '38']

In [33]:
something = "Alex 28"
print(input)
result = re.sub('\d\d', '-', input)
print(result) # ----9

Once 9123 upon a 4567 there was a 12389
Once -- upon a -- there was a --9

In [34]:
result = re.sub('\d((\d)(\d))\d', r'\1+\3', input)    # Replace a string with a part of itself
print(result)

Once 12+2 upon a 56+6 there was a 23+39

In [36]:
julianne = "2364523"
result = re.sub('(\d)(\d)', r'\2\1', input) # julianne) # 3246253
print(result)

Once 1932 upon a 5476 there was a 21839

In [37]:
result = re.sub('(\d)(\d)', r'\1+\2', input) # julianne) # 2+36+45+23
print(result)

Once 9+12+3 upon a 4+56+7 there was a 1+23+89

In [38]:
result = re.sub('(\d)(\d)', r'int(\1)', julianne) # 51073
print(result)

int(2)int(6)int(5)3

In [40]:
def add_two(match):
    return str(int(match.group()) + 2)

s = 'Alex 28'
result = re.sub(r'(\d+)', add_two, s)
print(result)

Alex 30

In [41]:
suraj = re.sub(r'(\d)(\d)', lambda m: str(int(m.group(1)) + int(m.group(2))), s)
print(suraj)

Alex 10

In [45]:
linjun = "12345"
suraj = re.sub(r'(\d)(\d)', lambda m: m.group(2) + m.group(1), linjun)
                #                     \2           \1
print(suraj) # 21435

21435

In [47]:
text = "I am here."
text = re.sub('(\w)', r'(\1)', text)
print(text) # (I) (a)(m) (h)(e)(r)(e).

(I) (a)(m) (h)(e)(r)(e).

In [53]:
print(linjun)
suraj = re.sub(r'(\d)(\d)', fun, linjun)

12345
<re.Match object; span=(0, 2), match='12'>
<re.Match object; span=(2, 4), match='34'>

In [54]:
suraj

'375'